/* Step-3 You can assign padding to all sides of a container by using the padding property. */

.content-mid {
  padding: 80px;
}

.content-mid-header {
  background: black;
  width: auto;
  height: 20%;
}

.content-container {
  background: white;
  width: auto;
  height: 100%;
  text-align: center;

  
}

.content {
  background: #D8D8D8;
  margin: auto;
  padding: 50px;
  height: 440px;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 50px;
  

}
